<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.screamshout">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetKotlin">

        <!-- Page de Game Over -->
        <activity android:name=".GameOverActivity"
            android:screenOrientation="portrait"
            />

        <!-- Page principale du jeu -->
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />

        <!-- Page de bienvenue (page de démarrage) -->
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
